<p>
    <a href="/HelloUniverse">Hello Universe</a><br />
    <a href="/HelloWorld">Hello World</a><br />
    <a href="/HelloWorld?type=beautiful">Hello beautiful World</a><br />
    <a href="/OuterSpace/HelloMoon">Hello Moon</a>
</p>

<p>
    <NavLink href="/HelloUniverse">Hello Universe</NavLink><br />
</p>
