@page "/"
<p>
    <a href="/hello-universe">Hello Universe</a><br />
    <a href="/hello-world">Hello World</a><br />
    <a href="/hello-world?type=beautiful">Hello beautiful World</a><br />
    <a href="/outer-space/hello-moon">Hello Moon</a><br />
    <a href="/hello-planet/Epsilon-Eridani">Hello Planet Epsilon Eridani</a>
</p>

<p>
    <NavLink href="/hello-universe">Hello Universe</NavLink><br />
</p>
