@page "/"
@inherits InheritanceBase

<h1>Inheritance</h1>

<div class="filter">
    <label>Customer Filter:</label>
    <input type="text" id="customer-filter" bind=@CustomerFilter
           placeholder="Customer filter..."><br />
    <!-- Note that we show/hide button based on logic in the base class -->
    @if (CanGetCustomers)
    {
        <button onclick=@GetCustomers>Get Customer List...</button>
    }
</div>

<!-- Note that we show/hide result based on logic in the base class -->
@if (CustomersLoaded)
{
    <div class="result">
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Customers)
                {
                    <tr>
                        <td>@customer.FirstName</td>
                        <td>@customer.FirstName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<!-- Note that we do not have any code in the view -->
