<button onclick="@OnClick">Click me (child component)</button>

@functions {
    [Parameter]
    public Action OnSomeEvent { get; set; }

    private void OnClick()
    {
        OnSomeEvent?.Invoke();
    }
}
