<h1>Page with Parameters</h1>

<button type="button" @onclick(SwitchName) >Switch Name</button>

<Initialization Name=@Name/>

@functions {
    private string Name { get; set; } = "Tom";
    private void SwitchName() => Name = Name == "Tom" ? "John" : "Tom";
}
