@page "/"

<h1>Blazor Pages Sample</h1>

<a href="/one-way-data-binding">One-Way Data Binding</a><br />
<a href="/two-way-data-binding">Two-Way Data Binding</a><br />
<a href="/initialization-parent">Initialization</a><br />
<a href="/event-binding">Event Binding</a><br />
<a href="/manual-refresh">Manual Refresh</a><br />
<a href="/render-fragment">Render Fragment</a><br />
<a href="/dynamic-render-tree">Dynamic Render Tree</a><br />
